<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class=mainContainer>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <a href="/new">New message</a>
  <ul>
    <% for(const msg of messages) {%>
      <li>
        <div><strong>
            <%=msg.user%>
          </strong></div>
        <%=msg.text%>
        <div class="time">
          <%= msg.added%>
        </div>
      </li>
      <% } %>
  </ul>

</body>

</html>